@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff") format("woff");
  /* Add other font weights/styles as needed */
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
