@font-face {
  font-family: "DM Sans";
  src:
    url("/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
      format("truetype-variations"),
    url("/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff") format("woff");
  /* Add other font weights/styles as needed */
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
